html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "col1 col2 col3"
    "col4 col5 col3";
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 57, 207, 0.1);
}

.grid-item {
  border: 1px solid rgba(43, 57, 207, 0.5);
  padding: 20px;
}

/* GRID 1 | CPU */
.grid-item.col1 {
  grid-area: col1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(3, 1fr);
  gap: 10px;
}

.cpu-header {
  margin: 0 auto;
  grid-row: 1;
  grid-column: 1 / span 4;
}

/* GRID 2 */

.grid-item.col2 {
  grid-area: col2;
}

/* GRID 3 */

.grid-item.col3 {
  grid-row: 1 / span 3;
  grid-area: col3;
}

/* GRID 4 | Disk & Memory  */
.grid-item.col4 {
  grid-area: col4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

/* GRID 4 | Sub Grid 2 Columns */
.disk-container {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid white;
}

.disk-col1 {
  grid-column: 1;
}

.disk-col2 {
  grid-column: 2;
}

/* GRID 4 | Sub Grid 2 Columns */

.memory-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid white; /* added for testing */
}

/* GRID 5 */

.grid-item.col5 {
  grid-area: col5;
}
